* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and Nav style */

.header {
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-position: bottom right, top left;
    background-repeat: no-repeat;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}

/*banner style*/

.banner {
    display: flex;
    align-items: center;
    margin: 0 100px;
}

.developer-img {
    width: 100%;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* mian styles*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/*About section styles*/
.about {
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    text-align: justify;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}